<div class="intro">
  <div class="row">
    <div class="col-12 col-md-3">
      <%= render partial: 'rooms' %>
    </div>
    <div class="col">
      <div class="maincontent">
        <h4 class="maincontent-heading">
          Welcome to the ChatBox Messenger!
        </h4>
        <p>
          If you'd like to create a new chat group, you can go ahead and create one using the "Create a ChatBox Group" option from the sidebar.
        </p>
        <p>
          Orelse if you'd like to converse in an existing chatroom, you can click on the required Group and start to converse.
        </p>
      </div>
    </div>
  </div>
</div>
